@model Lab3.Models.AddDoctorToHospitalDTO

@{
    ViewBag.Title = "AddHospital";
}

<h2>Add Doctor to Hospital:</h2>

@using (Html.BeginForm("AddHospital", "Doctors"))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.hospitalId, new SelectList(Model.hospitals,"Id","Name"),new{@class = "form-control"})

        @Html.HiddenFor(m => m.doctorId)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Add doctor to hospital</button>
    </div>
}